body {
    background-color: white;
}
.txtbox {
    border-radius: 5px 30px 30px 5px;
    border: 1px solid #1784c7;
    color: black;
    background-color: white;
    padding-left: 10px;
}
.jumbotron {
    background-color: white;
}

h2 {
    color:black;
}

a:link {
    color: black;
}

a:visited {
    color: grey;
}

a:hover {
    color: blue;
    text-decoration:none;
}


.loginButton {
    border-radius: 5px;
    border: 1px solid #1784c7;
    color: black;
    background-color: white;
    margin:auto;
    display:block;
    vertical-align:top;
    width:186px;

}

.lead {
    color:black;
}

/*.info{
   ForFutureUseMaybe
}*/