    body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

/*------------------- Custom searchbar---------------*/
.form-control-border {
    border-left-color: rgba(0,0,0,.125);
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
}

.form-control-borderless {
    border: none;
}

    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

.form-control-border:hover, .form-control-border:active, .form-control-border:focus {
    border-left-color: rgba(0,0,0,.125);
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.hero {
    padding-bottom: 25px;
}

.padding-bottom-top {
    padding-bottom: 5px;
    padding-top: 5px;
}

.card-sm {
    border-radius: 10px;
    height: 3rem;
}

/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: #367BFF;
}



/* active (faded) */
.nav-pills .pill-1 .nav-link {
    background-color: #065BFF;
    color: white;
}


.borderradius {
    padding: 0px;
    border: 0px solid grey;
    border-radius: 5px 5px;
    background: white;
}

.textcol {
    color: black;
    text-align: center;
}




[data-toggle="collapse"] .fa:before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg);
    transition: all linear 0.25s;
}

[data-toggle="collapse"].collapsed .fa:before {
    transform: rotate(0deg);
}

/*------------------- Custom image preview when uploading---------------*/
.imagePreview {
    width: 100%;
    height: 200px;
    background-position: center center;
    background: url(http://silkbrassband.co.uk/images/no-image-selected.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    /*box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);*/
}

/*------------------- displays images on list pages---------------*/
.thumbnail > a {
    display: block;
    /* 4:3 aspect ratio */
    padding-top: 75%;
    /* center align pt. 1 */
    position: relative;
}

    .thumbnail > a > img {
        /* fit within container */
        max-width: 100%;
        max-height: 100%;
        /* center align pt. 2 */
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

/*------------------- Avatar image---------------*/
.avatar {
    position: relative;
    bottom: auto;
    top: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline;
}

.small-search {
    background-color: transparent;
}

.information-content {
    position: absolute;
    bottom: 0;
}

/*------------------- Width of navbar dropdowns---------------*/
.dropdown-menu-small {
    min-width: 14rem;
}


/*------------------- Profile image in navbar---------------*/
.noti_container {
    position: relative;
    width: 25px;
    height: 25px;
}

.noti_bubble {
    position: absolute;
    top: 6px;
    right: 112px;
    padding: 1px 2px 1px 3px;
    background-color: red;
    color: white;
    font-size: 0.55em;
    border-radius: 30px;
    box-shadow: 1px 1px 1px gray;
}

/*------------------- Custom text above side navigation---------------*/
h3 {
    position: relative;
    text-align: center;
    font-size: 12px;
    color: grey;
   
}

    h3 span {
        display: inline-block;
        padding: 0 10px;
        background: #fff;
    }

    h3:before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: 50%;
        height: 1px;
        background: #ccc;
    }

/*------------------- horizontal scrolling cards on index---------------*/
.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}

    .testimonial-group > .row > .col-4 {
        display: inline-block;
        float: none;
    }

/*------------------- Custom Scrollbar---------------*/
/* width */
::-webkit-scrollbar {
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fafafa;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #29b6f6;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #29b6f6;
}

.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 100%; 
  white-space: nowrap;
}

/*div > a:hover{
    color: #eeeeee !important; 
}*/

.list-group > a:hover{
    color: #2196f3 !important; 
}


/*------------------- Sort by button--------------*/
.btn-sort{
    margin:0px;
}

/*------------------- removes conflicting hover color for side navigation buttons--------------*/
a.btn.btn-custom:hover, .btn.btn-custom:focus {
    color: #e0e0e0;
}
